footer
{
    background-color: #353535;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#logo_footer
{
    margin: 0;
}

footer li i
{
    padding-right: 7px;
    width: 12px;
    font-size: 0.8em;
}

li
{
    list-style: none;
    padding: 4px 0;
}

ul
{
    padding-left: 0;
}

#logo_footer
{
    font-family: 'Shrikhand';
    color: white;
    font-weight: 400;
}

footer p
{
    color: white;
}

footer a
{
    color: white;
}