#titre
{
    width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#localisation
{
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: 700;
    color: #353535;
    text-align: center;
    background-color: #e9e9e9;
    box-shadow: inset 3px 3px #d5d5d5;
    padding: 20px 0 20px 0;
}

#reservez
{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#reservez p
{
    text-align: center;
}

#explorer
{
    border: 0;
    background-color: #9356DC;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #D5D5D5;
    padding: 20px;
    display: block;
    margin: 10px 0 10px 0;
    position: relative;
}