#titre i
{
    padding-top: 1vw;
    font-size: 24px;
    position: absolute;
    left: 20px;
}

.images_restaurants
{
    margin-bottom: -50px;
}

.images_restaurants img
{
    object-fit: cover;
    height: 300px;
}

.menu_page
{
    display: flex;
    flex-direction: column;
}

.menu_bloc
{
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    padding-bottom: 40px;
}

.bloc_titre
{
    position: relative;
}

.bloc_titre h1
{
    font-family: "Shrikhand";
    font-size: 1.4em;
    font-weight: 500;
    padding: 30px 15px;
    margin: 0;
}

.bloc_titre .fiches_coeur
{
    position: absolute;
    right: 30px;
    top: 40px;
}

.contenu_menu
{
    font-family: "Roboto";
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.menu_section
{
    margin: 10px 0 15px 0;
    width: 100%; 
}

.contenu_menu .menu_section h2
{
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 300;
}

.contenu_menu .menu_section h2:after
{
    background: none repeat scroll 0 0 #99e2d0;
    bottom: -6px;
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    position: relative;
}

.mini_fiches
{
    opacity: 0;
    display: flex;
    overflow: hidden;
    width: 98%;
    height: 40px;
    padding: 10px 0 10px 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #D5D5D5;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

#entrees .mini_fiches
{
    animation: fade-in 1.5s forwards;
}

#plats .mini_fiches
{
    animation: fade-in 1.5s forwards;
    animation-delay: 1s;
}

#desserts .mini_fiches
{
    animation: fade-in 1.5s forwards;
    animation-delay: 2s;
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
        transform: translateY(200%);
    }

    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

.menu_conteneur
{
    width: 100%;
    transition: width .4s linear;
}

.menu_conteneur h4
{
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu_conteneur p
{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prix
{
    position: relative;
    padding-top: 25px;
    font-size: 14px;
    margin: auto;
    margin-right: 30px;
}

.check
{
    display: block;
    font-size: 1.2em;
    height: 60px;
    width: 45px;
    margin-top: -10px;
    margin-right: -60px;
    text-align: center;
    line-height: 60px;
    color: white;
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    transition: margin-right .4s linear;
}

.mini_fiches:hover .check
{
    margin-right: 0;
}

.mini_fiches:hover .menu_conteneur
{
    width: 70%;
}

.mini_fiches i
{
    transition: .4s linear;
}

.mini_fiches:hover i
{
    transform: rotate(360deg);
}

.commander
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#commander_btn
{
    border: 0;
    width: 200px;
    background-color: #9356DC;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #D5D5D5;
    padding: 20px;
    display: block;
    margin: 10px 0 10px 0;
    position: relative;
}

#commander_btn:hover
{
    opacity: 1;
    background-color: #b792e4;
    background-image: linear-gradient(to bottom right, #ffaee8, #ad84df);
    box-shadow: 4px 4px 4px #c3c3c3;
}

footer
{
    margin-top: 0;
}