@font-face {
    font-family: 'Shrikhand';
    src: url('../Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-Regular.ttf');
}

body
{
    margin: 0;
}

img
{
    width: 100%;
}

h1, h2 
{
    font-family: 'Roboto';
}

p {
    font-family: 'Roboto';
}

a
{
    text-decoration: none;
    color: black;
}

footer a
{
    color: white;
}

#bloc_page
{
    max-width: 1920px;
    scroll-margin: 0;
}

#titre
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
}

#localisation
{
    background-color: #eaeaea;
    padding-bottom: 10px;
    padding-left: 50px;
}

#reservez
{
    background-color: #F6F6F6;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#explorer
{
    border: 4px #FFFFFF solid;
    background-color: #9356DC;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    padding: 20px;
    display: block;
    margin: auto;
    position: relative;
}

.fiches
{
    border: 4px #FFFFFF solid;
    background-color: white;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
    position: relative;
}

.etapes
{
    border: 1px black solid;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

footer
{
    background-color: #353535;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#logo_footer
{
    font-family: 'Shrikhand';
    color: white;
    font-weight: 400;
}

footer p
{
    color: white;
}