@import url('header.css');
@import url('hearts.css');
@import url('spinner.css');
@import url('footer.css');
@import url('restaurants.css');

@font-face {
    font-family: 'Shrikhand';
    src: url('../Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-Regular.ttf');
}

body
{
    margin: 0;
    font-family: 'Roboto';
}

img
{
    width: 100%;
}

.shrikhand
{
    font-family: 'Shrikhand';
    margin-left: 15px;
}

.text-center
{
    text-align: center;
}

h2
{
    margin-left: 15px;
}

h4
{
    margin: 0;
}

p {
    font-family: 'Roboto';
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

#bloc_page
{
    max-width: 1920px;
    scroll-margin: 0;
}

.description_fiches_accueil img
{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.nom_lieu h4
{
    padding-top: 10px;
    padding-left: 10px;
}

.nom_lieu p
{
    padding-top: 10px;
    padding-left: 10px;
}

.fiches_nouveau
{
    width: 85px;
    background-color: #99E2D0;
    color: #2a947a;
    text-align: center;
    font-size: 1em;
    top: 15px;
    right: 15px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    position: absolute;
}

.restaurants_accueil
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fiches_accueil
{
    height: 245px;
    border: 4px #FFFFFF solid;
    background-color: white;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    position: relative;
}

.fiches_accueil img
{
    width: 100%;
    object-fit: cover;
    height: 170px;
}

.etapes_fonctionnement
{
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
}

.etapes
{
    margin: auto;
    display: flex;
    border: 0;
    border-radius: 17px;
    background-color: #F6F6F6;
    box-shadow: 4px 4px 4px #D5D5D5;
    display: flex;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    max-width: 500px;
}

.etapes:hover
{
    background-color: #f5edff;
}

.etapes i
{
    color: #909090;
    padding-right: 20px;
}

.etapes:hover i
{
    color: #9356dc;
}

.numero
{
    margin-right: 40px;
    background-color: #9356dc; 
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: white;
    font-size: 0.6em;
    text-align: center;
    position: relative;
    left: -10px;
}

.titre_page
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.titre_plat
{
    width: 100%;
}