.restaurants_accueil
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.restaurants_accueil a
{
    width: 45%;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}